@page "/prcreate"
@inject IePRService ePRService
@inject NavigationManager NavigationManager

<h3>New Purchase Order</h3>

<body>
    <EditForm Model="newPurchaseOrderModel" OnValidSubmit="HandleSave">
        <div>
            <DataAnnotationsValidator />
            <ValidationSummary />
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Code:</th>
                        <th>Date:</th>
                        <th>Name:</th>
                        <th>Doc No:</th>
                        <th>Supplier:</th>
                        <th>Address Line</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label for="code"></label>
                            <InputNumber id="codeinput" class="form-control" @bind-Value="newPurchaseOrderModel.Code" />
                        </td>
                        <td>
                            <label for="date"></label>
                            <InputDate id="dateinput" class="form-control" @bind-Value="newPurchaseOrderModel.Date" />
                        </td>
                        <td>
                            <label for="name" />
                            <InputText id="nameinput" class="form-control" @bind-Value="newPurchaseOrderModel.Name" />
                        </td>
                        <td>
                            <label for="docno"></label>
                            <InputNumber id="numberinput" class="form-control" @bind-Value="newPurchaseOrderModel.DocNumber" />
                        </td>
                        <td>
                            <label for="supplier"></label>
                            <InputSelectNumber id="supplierselect" @bind-Value="newPurchaseOrderModel.Supplier" class="form-control">
                                @foreach (var supplier in ePRService.Suppliers)
                                {                                    
                                    <option value="" selected disabled hidden></option>
                                    <option value="@supplier.Code">@supplier.Code</option>
                                }
                            </InputSelectNumber>
                        </td>
                        <td>
                            <label for="address"></label>
                            <InputText id="addressinput" placeholder="Address Line 1" @bind-Value="newPurchaseOrderModel.AddressLine1" class="form-control" />
                            <InputText id="addressinput" placeholder="Address Line 2" @bind-Value="newPurchaseOrderModel.AddressLine2" class="form-control" />
                            <InputText id="addressinput" placeholder="Address Line 3" @bind-Value="newPurchaseOrderModel.AddressLine3" class="form-control" />
                            <InputText id="addressinput" placeholder="Address Line 4" @bind-Value="newPurchaseOrderModel.AddressLine4" class="form-control" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />

        </div>
        <button class="btn btn-success mb-3" type="submit">Save</button>
        <button class="btn btn-warning mb-3" @onclick="Cancel">Cancel</button>
    </EditForm>
</body>

@code {
    PurchaseOrderModel newPurchaseOrderModel = new PurchaseOrderModel();
    ItemModel newItem = new ItemModel();

    protected override async Task OnInitializedAsync()
    {
        await ePRService.GetSupplier();
        await ePRService.GetPurchaseOrderItemList();
    }

    private void HandleSave()
    {
        ePRService.CreatePurchaseOrderModel(newPurchaseOrderModel);
        NavigationManager.NavigateTo("/purchaseorder", true);
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/purchaseorder");
    }
}